@font-face {
  font-family: "purple-smile";
  src: url("./assets/PurpleSmile.otf") format("otf");
}

body {
  display: flex;
  justify-content: space-evenly;
  background-color: #202020;
  color: white;
  height: 100vh;
  width: 100vw;
  font-family: "purple-smile";
}

header {
  width: 33%;
}

nav {
  width: 100%;
}

ul {
  width: 100%;
}

li {
  margin-top: 1vw;
}

a {
  font-size: 20%;
  text-decoration: none;
  color: white;
}

main {
  border: 1px solid grey;
}

article {
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  padding: 1vw;
}

article :last-child {
  grid-area: 2 / 1 / 2 / 4;
}

img {
  position: relative;
  width: 5vw;
  left: 15px;
  top: 10px;
  border-radius: 50%;
}

.soft-box {
  background-color: grey;
  border-radius: 5%;
  padding-left: 2px;
  margin: 2px;
}
